.Home {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Home .Wrapper {
  box-sizing: border-box;
  width: 1000px;
  padding: 50px;
  padding-left: 25px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-bottom: 100px;
}

@media screen and (max-width: 1024px) {
  .Home .Wrapper {
    width: 98%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
  }
  @media screen and (max-height: 650px) {
    .Home .Wrapper{
      padding: 10px;
    }
  }
}

@media screen and (max-height: 550px) {
  .Home .Wrapper {
    width: 98%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
  }
}