.About {
  width: 100%;
}

.About .Wrapper {
  box-sizing: border-box;
  width: 1000px;
  padding: 25px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
}

.About h2 {
  font-size: 2.5rem;
  font-weight: 500;
}

.About h3 {
  font-size: 2.0rem;
  font-weight: 500;
}

@media screen and (max-width: 1024px) {
  .About .Wrapper {
    width: 98%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
  }
  @media screen and (max-height: 650px) {
    .About .Wrapper{
      padding: 10px;
    }
  }
}

@media screen and (max-height: 550px) {
  .About .Wrapper {
    width: 98%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
  }
}