:root {
  --primary: #478eaf;
  --text-primary: #000000;
  --text-inverted: #ffffff;
  --text-light: #808080;
  --icon-light: #808080;
  --icon-dark: ;
  --border-light: #e6e6e6;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}